<h1>Recipes#Index</h1>
<ul class="no-decoration recipe-container">
  <% @recipes.each do |recipe| %>
    <li class="recipe-card"><%= link_to recipe.name, recipe_path(recipe) %>
      <p>By: <%= recipe.creator.username %></p>
    <ul class="no-decoration tag-container">
      <% recipe.tags.each do |tag| %>
        <%= render partial: "tags/show", locals: {tag: tag} %>
      <% end %>
    </ul>
    <%= link_to "edit", edit_recipe_path(recipe) %>
    </li>
  <% end %>

</ul>
