<h1>Recipes#Index</h1>
<ul style="list-style: none">
  <% @recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <li><%= recipe.creator.username %></li>
  <li><%= recipe.tags %></li>
  <li><%= link_to "edit", edit_recipe_path(recipe) %></li>
  <% end %>

</ul>
