<h3>Hello <%= current_user.username %>!</h3>
<% if @user != current_user %>
  <%= render partial: 'guest' %>
<% end %>

<% if @user == current_user %>
  <%= render partial: 'creator' %>

<% end %>



